/cache/
/output/
/tmp/
/build/
/Build/
/GMRT/
*.yydebug
*.resource_order

/*.zip
/*.yyz
/*.gmz
/*.bak
/*.old

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.stackdump
*.lnk

.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd

.vscode/
.idea/
*.code-workspace